/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/09/2016, 02:08:20 PM
    Author     : VicCross
*/
@font-face {
    font-family: 'FreightSans-Book'; /*a name to be used later*/
    src: url('Tipografia/FreightSans-Book.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'FreightSans-Medium'; /*a name to be used later*/
    src: url('Tipografia/FreightSans-Medium.ttf'); /*URL to font*/
}

#contRuta
{
    background-color: #CEC2B7;
    font-family: 'FreightSans-Book';
    font-size: 13pt;
    height: 19px;
    text-overflow: hidden;
}
#contTitulo
{
    font-family: 'FreightSans-Book';
    font-size: 25pt;
    text-align: center;
}

.contSubTitulo
{
    font-family: 'FreightSans-Book';
    font-size: 15pt;
    text-align: left;
    font-weight:bold;
}

#btnRegresar
{
    font-family: 'FreightSans-Book';
    font-size: 15pt;
    color: #fff;
    background-color: #A91916;
    border-radius: 10px;
}

#contClasificacion
{
    font-family: 'FreightSans-Medium';
    font-size: 15pt;
    background-color: #fff;
    text-align: center;
}

.btnClasificacion
{
    color: white;
    background-color: #808080;
    border-radius: 10px;
}

.botonFelicitacion
{
    background-color: green;
}

.botonPeticion
{
    background-color: #FCC545;
}

.botonSugerencia
{
    background-color: #F6FF81;
}

.botonqueja
{
    background-color: #F83D3D;
}



.tituloContenedor
{
    padding-left: 20px;
    font-family: 'FreightSans-Book';
    font-size: 13pt;
    font-weight: bold;
    margin-left: 10px;
}

.contenedoresDatos
{
    font-family: 'FreightSans-Book';
    background-color: #E6E6E6;
    font-size: 15px;
    font-weight: normal;
    padding-top: 9px;
    padding-left: 6px;
    padding-bottom: 6px;
}

.radio
{
    margin-top: 0px;
    margin-bottom: 0px;
}

#contArea
{
    margin-top: 9px;
    margin-bottom: 9px;
}

#contProyectos
{
    margin-top: 9px;
    margin-bottom: 9px;
}

.oscure
{
    font-weight: bolder;
}

.contenedoresAreasProys
{
    font-family: 'FreightSans-Book';
    font-size: 15px;
    font-weight: normal;
}

#contArea
{
    display:none;
}

#contProyectos
{
    display:none;
}


#btnDeriv
{
    float: right;
}