/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/09/2016, 04:44:00 PM
    Author     : VicCross
*/
@font-face {
    font-family: 'FreightSans-Book'; /*a name to be used later*/
    src: url('Tipografia/FreightSans-Book.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'FreightSans-Medium'; /*a name to be used later*/
    src: url('Tipografia/FreightSans-Medium.ttf'); /*URL to font*/
}
#contRuta
{
    background-color: #CEC2B7;
    font-family: 'FreightSans-Book';
    font-size: 13pt;
    height: 19px;
    text-overflow: hidden;
}
#contTitulo
{
    font-family: 'FreightSans-Book';
    font-size: 25pt;
    text-align: center;
}

#contBotones
{
    text-align: center;
    align-items: center;
}

.btn-group-wrap
{
    text-align: center;
}

#contTabla
{
    margin-top: 7px;
}

th
{
    background-color: grey;
    color: white;
    text-align: center;
}

th:first-child
{
    text-align: left;
}

th:last-child
{
    text-align: right;
}

a
{
    text-decoration: none;
    font-weight: normal;
}



.div-table-content {
  height:400px;
  overflow-y:auto;
  
}

#btnBorrar
{
    float: right;
}