@font-face {
    font-family: 'FreightSans-Book'; /*a name to be used later*/
    src: url('Tipografia/FreightSans-Book.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'FreightSans-Medium'; /*a name to be used later*/
    src: url('Tipografia/FreightSans-Medium.ttf'); /*URL to font*/
}
/*header
{
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	text-align: center;
	background: grey;
	animation-name: animacionHeader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
option
{
	animation-name: animacionOption;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

form
{
	font-family: 'Raleway', sans-serif;
}

@keyframes animacionHeader 
{
    from {background-color: grey;}
    to {background-color: white;}
}

@keyframes animacionOption 
{
    from {background-color: white;}
    to {background-color: #E6E6E6;}
}*/

#contRuta
{
    background-color: #CEC2B7;
    font-family: 'FreightSans-Book';
    font-size: 13pt;
    height: 19px;
    text-overflow: hidden;
}
#contTitulo
{
    font-family: 'FreightSans-Book';
    font-size: 25pt;
    text-align: center;
}
#btnRegresar
{
    font-family: 'FreightSans-Book';
    font-size: 15pt;
    color: #fff;
    background-color: #A91916;
    padding: 1px 8px 1px 8px;
}
#fldExpo 
{
    font-family: 'FreightSans-Book';
    font-size: 15pt;
    background-color: #808080;
}

#fldExpo label
{
    color: #fff;
    font-weight: normal;
}
#fldExpo select
{
    border-radius: 10px;
    width: 70%;
}

#fldTipoOpinion
{
    font-family: 'FreightSans-Book';
    font-size: 15pt;
    background-color: #666666;
}

#fldTipoOpinion label
{
    color: #fff;
    font-weight: normal;
}
#fldTipoOpinion select
{
    border-radius: 10px;
    width: 70%;
}

#contClasificacion
{
    font-family: 'FreightSans-Medium';
    font-size: 15pt;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
}

#contClasificacion button
{
    color: white;
    background-color: #808080;
    border-radius: 10px;
}

#contSup
{
    text-align: right;
    margin-top: 10px;
    font-family: 'FreightSans-Book';
    font-size: 15px;
}
.contenedoresDatos
{
    font-family: 'FreightSans-Book';
    background-color: #E6E6E6;
    font-size: 15px;
    font-weight: normal;
    padding-top: 9px;
    padding-left: 6px;
    padding-bottom: 6px;
}
input
{
    border-radius: 7px;
    border: solid 2px;
}

input.form-control
{
    border-radius: 7px;
    border: solid 2px;
    height: 27px;
}

/*#txtNombre
{
    width: 60%;
}

#txtApellidoPat
{
    width: 54%
}
#txtApellidoMat.form-control
{
    width: 54%
}*/

/*#txtUrl
{
    width: 58%
}*/

#contUrlRS
{
    display: none;
}

.contenedoresDatos select
{
    border-radius: 10px;
    height: 30px;
    border: solid 2px;
}



/*#cbDelegacion
{
    width: 125px;
}

#txtCalle
{
    width: 225px;
}

#txtColonia
{
    width: 153px;
}*/

/*#txtNombreServidor
{
    width: 200px;
}

#txtNumLugarAds
{
    width: 220px;
}

#txtCargo
{
    width: 213px;
}*/

#lblDescripcion
{
    vertical-align: top;
}

#txtDescripcion
{
    margin-top: 20px;
    border-radius: 10px;
    border: solid 2px;
}
#contButtons
{
    margin-left: 70px;
}

#contButtons button
{
    font-family: 'FreightSans-Book';
    font-size: 15pt;
    background-color: #666666;
    color: #fff;
    border-radius: 10px;
}

.tituloContenedor
{
    padding-left: 20px;
    font-family: 'FreightSans-Book';
    font-size: 13pt;
}

.glyphicon-saved
{
    font-size: 90px;
}

.glyphicon-remove
{
    font-size: 90px;
}

.modal-content
{
    text-align: center;
}

#txtModalHeader
{
    text-align: center;
    font-family: 'FreightSans-Book';
    font-size: 30pt;
}

#txtModalBody
{
    text-align: center;
    font-family: 'FreightSans-Book';
    font-size: 27pt;
}

/* #contDatosPersonales .row 
{
    margin-top: 4px;
}

#contDomicilio .row 
{
    margin-top: 4px;
}

#contServidor .row 
{
    margin-top: 4px;
}*/